<div class="jumbotron">
<div id="home-claim">
  <h1>Death to schools</h1>
  <h2>Learn in learning groups</h2>
</div>
</div>

<div id="home-button">
  <li ng-show="users.checkLoggedIn()">
    <a ui-sref="groupsNew"><button class="btn btn-default home">Create a Group</button></a>
  </li>
  <li ng-hide="users.checkLoggedIn()">
    <a ui-sref="login"><button class="btn btn-default home">Login</button></a>
  </li>
  <li ng-hide="users.checkLoggedIn()">
    <a ui-sref="register"><button class="btn btn-default home">Register</button></a>
  </li>
</div>

<div id="home-overview">
  <li>
    <h4>Recently created learning groups</h4>
  </li>
    <div ng-controller="GroupsIndexController as group">
      <li class="media" ng-repeat="group in groups.all">
        <div class="media-left">
          <a ui-sref="groupsShow({ id: group._id })">
          <img class="media-object" ng-src="{{ group.image }}">
          </a>
        </div>
        <div class="media-body">
          <a ui-sref="groupsShow({ id: group._id })">
          <h3 class="media-heading">{{ group.title }}</h3>
          </a>
        </div>
      </li>
    </div>
</div>
