<div class="jumbotron">
<div id="home-claim">
  <h1>Leave your comfort zone</h1>
  <h2>Learn something new today!</h2>
</div>
</div>

<div id="home-button">
  <li ng-show="users.checkLoggedIn()">
    <a ui-sref="groupsNew"><button class="btn btn-default home">Create a Group</button></a>
  </li>
  <li ng-hide="users.checkLoggedIn()">
    <a ui-sref="login"><button class="btn btn-default home">Login</button></a>
  </li>
  <li ng-hide="users.checkLoggedIn()">
    <a ui-sref="register"><button class="btn btn-default home">Register</button></a>
  </li>
</div>

<div ng-show="users.checkLoggedIn()" id="home-overview">
  <li>
    <h1>Recently created learning groups</h1>
  </li>
  <div ng-controller="GroupsIndexController as groups" class="row">
    <div ng-repeat="group in groups.all" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a ui-sref="groupsShow({ id: group._id })">
          <img class="media-object" ng-src="{{ group.image }}">
        </a>
        <div class="caption">
          <a ui-sref="groupsShow({ id: group._id })">
            <h3 class="media-heading">{{ group.title }}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div id="teacher-info">
    <div>
      <h2>Teach a group and earn money</h2>
      <h3>Use your knowledge, pass it on, and earn money with it. It's like AirBnB - just for teachers.</h3>
      <li ng-show="users.checkLoggedIn()">
        <a ui-sref="groupsNew"><button class="btn btn-default home">Create a Group</button></a>
      </li>
      <li ng-hide="users.checkLoggedIn()">
        <a ui-sref="login"><button class="btn btn-default home">Login</button></a>
      </li>
      <li ng-hide="users.checkLoggedIn()">
        <a ui-sref="register"><button class="btn btn-default home">Register</button></a>
      </li>
    </div>
  </div>

