<div class="row">

  <h2>{{ users.user.username | uppercase }}</h2>
  <img ng-src="{{ users.user.image }}">
  <p>{{ users.user.email }}</p>
  <p>{{ users.user.city }}</p>


  <h2>{{ users.user.username | uppercase }} is a Student in</h2>
  <div ng-controller="RequestsIndexController as requests">
    <div ng-controller="GroupsIndexController as groups">
      <div ng-repeat="group in requests.all">
        <div ng-repeat="request in group.requests | filter: { type: 'student' }">
        <img class="group" ng-src="{{ group.image }}">
        <h4>{{ group.title }}</h4>
        </div>
      </div>
    </div>
  </div>

  <h2>{{ users.user.username | uppercase }} is a Teacher in</h2>
  <div ng-controller="RequestsIndexController as requests">
    <div ng-controller="GroupsIndexController as groups">
      <div ng-repeat="group in requests.all">
        <div ng-repeat="request in group.requests | filter: { type: 'teacher' }">
          <img {{ group.image }}</h4>
          <h4>{{ group.title }}</h4>
        </div>
      </div>
    </div>
  </div>



  <li ng-show="users.currentUser">
    <button type="button" ng-click="users.deleteUser({id: user._id})" class="btn btn-danger">Delete User Profile</button>
  </li>
</div>
