<div class="row">

  <h2>{{ users.user.username | uppercase }}</h2>
  <img ng-src="{{ users.user.image }}">
  <p>{{ users.user.email }}</p>
  <p>{{ users.user.city }}</p>


  <!--   edit user -->
  <li ng-show="users.currentUser">
   <form ng-submit="users.updateUser(users.user)">
     <input ng-model="users.user.username" type="text" name='name' id="name" placeholder="Name">
     <input ng-model="users.user.image" type="text" name='image' id="image" placeholder="Image">
     <input type="submit" value='Save' id="submit">
   </form>
  </li>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Student In</a></li>
    <!-- list of groups this users is a student of -->

    <li role="presentation"><a href="#">Teacher In</a></li>
    <!-- list of groups this users is a teacher of -->

  </ul>


  <li class="media" ng-repeat="group in groups.all">
  <!--   Show only groups created by this user -->
  </li>

  <li ng-show="users.currentUser">
    <button type="button" ng-click="users.deleteUser({id: user._id})" class="btn btn-danger">Delete User Profile</button>
  </li>

</div>
