<h1 ng-controller="GroupsController as groups">Groups</h1>
<ul class="media-list">
  <li class="media" ng-repeat="group in groups.all">
    <div class="media-left">
      <a ui-sref="group({ id: group._id })">
        <img class="media-object" ng-src="{{ group.local.image }}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ group.local.title }}</h4>
      <p>{{ group.local.description }}</p>
    </div>
  </li>
  <input type="text" ng-model="group.newGroup.name">
  <button type="button" ng-click="group.createGroup()">Create Group</button>
</ul>
