<!-- If not owner of the group: -->
<div class="row">
  <h2>{{ groups.group.title | uppercase }}</h2>
  <h3>{{ groups.group.teacher.username }}</h2>
  <img ng-src="{{ groups.group.image }}">
  <p>{{ groups.group.description }}</p>
</div>

<ul>
  <!-- if no Teacher for Group -->
  <li ng-hide="group.teacher">
    <button class="btn btn-default" ng-click="groups.requestToTeach(group._id, group.owner._id)">Request to Teach</button>
  </li>
  <!-- TO DO if open places for students -->
  <li>
    <button class="btn btn-default" ng-click="groups.requestToStudy(group._id, group.owner._id)">Join</button>
  </li>
  <li>
    <button ui-sref="groupsShow({ id: group._id })" class="btn btn-default">More Info</button>
  </li>
  <li ng-show="groups.group.owner">
    <button type="button" ng-click="groups.deleteGroup({id: group._id})" class="btn btn-danger">Delete</button>
  </li>
</ul>


<!-- If owner of the group: -->

<!-- links to Request-Page
Open Teacher Requests Button -> goes to Request-Page
Open Students Request Button -> goes to Request Page
-->








